<div class="portfolioElementDiv">
    <div class="portfolioElementImgDiv">
        <img src="../../assets/img/join photojoin.png" alt="">
    </div>
    <div class="portfolioElementTextDiv">
        <span class="header">Join</span>
        <span class="skills">Angular | TypeScript | HTML | CSS | Firebase</span>
        <span class="description">Task manager inspired by the Kanban System. Create and organize tasks using drag and
            drop functions, assign users and categories.</span>
        <div class="buttonDiv">
            <button (click)="visitPage('www.wikipedia.de')" class="livetestBTN">Live test</button>
            <button (click)="visitPage('www.wikipedia.de')" class="githubBTN">Github</button>
        </div>
    </div>
</div>