@import '../mixin&keyframe.scss';

.portfolioElementDiv {
    @include dFlex();
    height: 340px;
    margin: 50px 100px;
}

.portfolioElementImgDiv {
    img{
        height: 340px;
        width: auto;
    }
}

.portfolioElementTextDiv {
    @include dFlex($ai: flex-start, $g: 35px);
    flex-direction: column;
}

.header {
    @include font(700, 32px, 38.4px);
    color: #FF4747;
}

.skills {
    @include font(400, 23px, 27.6px);
    color: #FA7902;
}

.description {
    @include font(400, 16px, 19.2px);
}

.buttonDiv {
    @include dFlex($jc: flex-start, $g: 86px);

    button {
        @include dFlex($g: 10px);
        @include font(400, 23px, 27.6px);
        color: white;
        padding: 15px 30px 15px 30px;
        border-radius: 10px;

        &:hover{
            background-color: #FA7902;
        }
    }
}

.livetestBTN {
    width: 152px;
    height: 58px;
    background: #FF4747;
}

.githubBTN {
    width: 137px;
    height: 58px;
    border: 1px solid #FA7902;
    background-color: transparent;
}

@media (max-width: 1200px) {
    .portfolioElementImgDiv {
        img{
            height: auto;
            width: 380px;
        }
    }
    
    .buttonDiv {
        button {
            @include font(400, 16px, 27.6px);
            padding: 10px 25px 10px 25px;
        }
    }

    .livetestBTN {
        width: 120px;
        height: 50px;
    }
    
    .githubBTN {
        width: 105px;
        height: 50px;
    }
  }

@media (max-width: 1000px) {
    .portfolioElementImgDiv {
        img{
            height: auto;
            width: 380px;
        }
    }

    .portfolioElementTextDiv {
        @include dFlex($ai: flex-start, $g: 27px);
    }

    .header {
        @include font(700, 30px, 38.4px);
    }
    
    .skills {
        @include font(400, 21px, 27.6px);
    }
    
    .buttonDiv {
        @include dFlex($jc: flex-start, $g: 36px);
    
        button {
            @include font(400, 16px, 27.6px);
            padding: 10px 25px 10px 25px;
        }
    }

    .livetestBTN {
        width: 120px;
        height: 50px;
    }
    
    .githubBTN {
        width: 105px;
        height: 50px;
    }
  }