<header class="header" id="header">
    <div class="logo" routerLink="">
        Hier steht das Logo
    </div>

    <div class="links">
        <a (click)="scrollAboutMe()">About me</a>
        <a (click)="scrollSkill()">Skills</a>
        <a (click)="scrollPortfolio()">Portfolio</a>
    </div>

    <img (click)="openResponsiveMenu()" class="menu" src="../../assets/img/burger menu.png">
</header>

<div id="header_res_menu" class="header_res_menu d-none">
    <div class="links_res">
        <a (click)="scrollAboutMe()">About me</a>
        <a (click)="scrollSkill()">Skills</a>
        <a (click)="scrollPortfolio()">Portfolio</a>
    </div>
</div>
