<footer id="footer">
    <div class="logoImprintDiv">
        <div class="logo" routerLink="">
            <img src="../../assets/img/logo.png">
        </div>
        <p class="imprintText" routerLink="imprint">Imprint</p>
    </div>
    <span>
        &#169; Kerim Tasci 2024 
    </span>
    <div class="socials">
        <div class="ATF_styleElement"></div>

        <a href=""><img class="ATF_icon" src="../../assets/img/github.png"></a>
        <a (click)="scrollBottom()"><img class="ATF_icon" src="../../assets/img/email.png"></a>
        <a href=""><img class="ATF_icon" src="../../assets/img/linkedin.png"></a>
    </div>

    <p class="imprintTextRes" routerLink="imprint">Imprint</p>
</footer>
