<div class="aboutMeDiv" id="aboutMe">
    <div class="aboutMeText">
        <span class="AM_header">About me</span>
        <p class="AM_text">Hello my name is Kerim Tasci and I am a frontend developer based in Munich, Germany. With a
            passion for coding I specialize in languages like <b>JavaScript</b>, frameworks like <b>Angular</b> and working with
            <b>REST-API</b>.</p>
        <div class="imgWithText">
            <img src="../../assets/img/AM_bulb.png">
            <p class="AM_text">
                I see code not just as lines on a screen, but as a tool to solve real-world problems. As a dedicated
                problem solver, I bring creativity and precision to every project I undertake.
            </p>
        </div>
        <div class="imgWithText">
            <img src="../../assets/img/AM_puzzle.png">
            <p class="AM_text">
                On this page, I showcase some of my projects that reflect my skills as a frontend developer.
                Contact me if you are looking for a junior frontend developer eager to contribute to innovative
                projects in your team.
            </p>
        </div>
    </div>

    <div class="aboutMePicture">
        <div class="circle"></div>
        <div class="line"></div>
    </div>
</div>