<div class="aboutMeDiv">
    <div class="aboutMeText">
        <span>About me</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis assumenda temporibus nulla perferendis, obcaecati voluptas sapiente. Laboriosam, omnis ratione obcaecati doloribus itaque eum labore quos molestias dolores asperiores id dignissimos.</p>
        <div class="imgWithText">
            <img src="" >
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos architecto officia alias est, inventore molestias, mollitia blanditiis totam esse, unde id obcaecati recusandae laudantium. Alias esse reprehenderit tempora obcaecati eius!</p>
        </div>
        <div class="imgWithText">
            <img src="" >
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos architecto officia alias est, inventore molestias, mollitia blanditiis totam esse, unde id obcaecati recusandae laudantium. Alias esse reprehenderit tempora obcaecati eius!</p>
        </div>
    </div>

    <div class="aboutMePicture">
        <img src="">
    </div>
</div>