<div class="ATF_background">
    <img class="ATF_BG" src="../../assets/img/VectorATF_BG.png" alt="">

    <div class="iAmDivWithBtn">
        <div class="iAmDiv">
            <div class="iAm">
                <span> I am</span>
            </div>
            <div class="nameDiv">
                <span class="kerimTasci">Kerim Tasci</span>
                <span class="frontendDev">FRONTEND DEVELOPER</span>
            </div>
        </div>
        <button>Let's talk!</button>
    </div>

    <img class="ATF_profile" src="./../../assets/img/ATF.png">
</div>