<div class="ATF_background">
    <!-- <img class="ATF_BG" src="../../assets/img/VectorATF_BG.png" alt=""> -->

    <div class="ATF_content">
        <img class="ATF_profile" src="./../../assets/img/ATF.png">

        <div class="iAmDivWithBtn" id="ATF">
            <div class="iAmDiv">
                <div class="iAm">
                    <span> I am</span>
                </div>
                <div class="nameDiv">
                    <span class="kerimTasci">Kerim Tasci</span>
                    <span class="frontendDev">FRONTEND DEVELOPER</span>
                </div>
            </div>
            <button (click)="scrollBottom()" >Let's talk!</button>
        </div>

        <div class="scroll">
            <span (click)="scrollBottom()">Scroll down</span> <img src="../../assets/img/arrow-down-line.png">
        </div>
        
    </div>
<!-- 
    <div class="iAmDivWithBtn" id="ATF">
        <div class="iAmDiv">
            <div class="iAm">
                <span> I am</span>
            </div>
            <div class="nameDiv">
                <span class="kerimTasci">Kerim Tasci</span>
                <span class="frontendDev">FRONTEND DEVELOPER</span>
            </div>
        </div>
        <button (click)="scrollBottom()" >Let's talk!</button>
    </div>

    <img class="ATF_profile" src="./../../assets/img/ATF.png"> -->

    <div class="socials">
        <div class="ATF_styleElement"></div>

        <a href=""><img class="ATF_icon" src="../../assets/img/github.png"></a>
        <a href=""><img class="ATF_icon" src="../../assets/img/email.png"></a>
        <a href=""><img class="ATF_icon" src="../../assets/img/linkedin.png"></a>

        <a class="socials_mail" href="mailto:">contact&#64;kerim-tasci.de</a>
    </div>

</div>