<div class="conatctHeaderDiv">
    <div class="conatctHeaderElement"></div>
    <span class="conatctHeader">Contact</span>
</div>

<div class="contactDiv">
    <div class="contactTextDiv">
        <span class="contactTextH2">Got a problem to solve?</span>
        <span class="contactText">
            Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
            projects with my work.
        </span>
        <span class="contactText">
            Need a Frontend developer? <b>Contact me!</b>
        </span>
    </div>

    <form class="contactForm" (submit)="sendMail()" ngNativeValidate method="post">
        <div class="contactFormElement">
            <input required type="text" name="name" placeholder="Your name" #nameField>
            <span class="d-none">Your name is required</span>
        </div>
        <div class="contactFormElement">
            <input required type="email" name="email" placeholder="Your email" #emailField>
            <span class="d-none">Your email is required</span>
        </div>
        <div class="contactFormElement">
            <textarea required name="message" id="" cols="30" rows="10" placeholder="Your message"
                #messageField></textarea>
            <span class="d-none">Your message is empty</span>
        </div>
        <div class="contactFormCheckbox">
            <label class="contactFormCheckboxLebel"  for="checkbox1">I've read the <span>privacy policy</span> and agree to the processing of my data as
                outlined.
                <input required type="checkbox" id="checkbox1" name="checkbox1">
                <span class="checkmark"></span>
            </label>
        </div>

        <button #sendButton>Send message</button>
    </form>
</div>