<div class="portDiv">
    <div class="port_headerDiv">
        <div class="port_headerelement1"></div>
        <span class="port_header">Portfolio</span>
        <div class="port_headerelement2"></div>
    </div>
    <span class="port_text">This page is a sample of my work - please feel free to try them out.</span>

    <app-portfolio-element 
    fd="row" 
    imgURL="../../assets/img/join photojoin.png" 
    title="Join" skills="JavaScript | HTML | CSS" 
    description="Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories." 
    livelink="https://kerim-tasci.developerakademie.net/JoinPrivat/html/login.html"
    githublink="https://github.com/S-KerimTasci/Join-Privat" >
    </app-portfolio-element>

    <app-portfolio-element 
    fd="row-reverse" 
    imgURL="../../assets/img/polloloco.png" 
    title="EL POLLO LOCO" skills="JavaScript | HTML | CSS" 
    description="Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen." 
    livelink="https://kerim-tasci.developerakademie.net/game/index.html"
    githublink="https://github.com/S-KerimTasci/Game" >
    </app-portfolio-element>


</div>