@mixin dFlex($jc: center, $ai: center, $g: 0) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}

@mixin font($fw, $fs, $lh) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}

@keyframes ATF_buttonHover {
    from {
        background-color: #FA7902;
        width: 165px;
        height: 50px;
        padding: 15px 30px 15px 30px;
    }


    to {
        background-color: #FF4747;
        width: 185px;
        height: 60px;
        padding: 20px 40px 20px 40px
    }
}

@keyframes ATF_buttonHover_res {
    from {
        background-color: #FA7902;
        width: 133px;
        height: 49px;
        padding: 15px 30px 15px 30px;
    }


    to {
        background-color: #FF4747;
        width: 153px;
        height: 59px;
        padding: 20px 40px 20px 40px
    }
}

@keyframes MS_buttonHover {
    from {
        background-color: #FA7902;
        width: 200px;
        height: 58px;
        padding: 15px 30px 15px 30px;
    }


    to {
        background-color: #FF4747;
        width: 220px;
        height: 78px;
        padding: 20px 40px 20px 40px
    }
}

@keyframes MS_buttonHover_res {
    from {
        background-color: #FA7902;
        width: 160px;
        height: 55px;
        padding: 15px 30px 15px 30px;
    }


    to {
        background-color: #FF4747;
        width: 170px;
        height: 65px;
        padding: 20px 40px 20px 40px
    }
}

@keyframes Contact_buttonHover {
    from {
        width: 253px;
        height: 58px;
        padding: 15px 30px 15px 30px;
    }


    to {
        background-color: #FF4747;
        width: 273px;
        height: 78px;
        padding: 20px 40px 20px 40px;
    }
}

@keyframes Contact_buttonHover_res {
    from {
        width: 193px;
        height: 55px;
        padding: 15px 30px 15px 30px;
    }


    to {
        background-color: #FF4747;
        width: 213px;
        height: 70px;
        padding: 20px 40px 20px 40px;
    }
}

@keyframes zoomIcon {
    from {
        transform: scale(1)
    }


    to {
        transform: scale(1.3);
    }
}

@keyframes hoverUp {
    from {
        transform: translateY(0)
    }


    to {
        transform: translateY(-10px);
    }
}