<div class="mySkillsDiv" id="mySkills">

    <div class="iconDiv">
        <div *ngFor="let image of images; let i = index" class="image-container">
            <img src="../../assets/img/mySkillsIcons/{{image}}" alt="Image {{ i + 1 }}">
            <p>{{ titles[i] }}</p>
        </div>
    </div>

    <div class="textDiv">
        <div class="MS_headerDiv">
            <span class="MS_header">My skills</span>
            <div class="MS_headerElement"></div>
        </div>
        <span class="MS_text">
            I have grown my frontend developments skills that have allowed me to create different real projects.
        </span>
        <button>Get in touch</button>
    </div>

</div>