@import'../src/app/mixin&keyframe.scss';
@import'./app/fonts.scss';

html{
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 100px);
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: #141D2F;
  color: white;
  font-family: 'Poppins';
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  line-height: 0;
}

button{
  cursor: pointer;
}

.overflowHidden{
  overflow: hidden;
}

.d-none{
  display: none !important;
}

.logo{
  cursor: pointer;
}


@media (min-width: 1800px) {
  body{
      margin: 0 10%;
  }
}

@media (min-width: 2400px) {
  body{
      margin: 0 20%;
  }
}