@import'../src/app/mixin&keyframe.scss';
@import'./app/fonts.scss';

html{
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 100px);
}

body {
  margin: 0;
  background-color: #141D2F;
  color: white;
  font-family: 'Poppins';
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  line-height: 0;
}

button{
  cursor: pointer;
}

.d-none{
  display: none !important;
}

.logo{
  cursor: pointer;
}
