@import'../src/app/mixin&keyframe.scss';
@import'./app/fonts.scss';

body {
  margin: 0;
  scroll-behavior: smooth;
  background-color: #141D2F;
  color: white;
  font-family: 'Poppins';
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  line-height: 0;
}

.d-none{
  display: none;
}

.common-input-properties {
  font-family: 'Poppins';
  color: white;
  @include font(400, 16px, 19.2px);
  border: 1px solid #FF4747;
  border-radius: 10px;
  background: linear-gradient(0deg, #141D2F, #141D2F),
    linear-gradient(0deg, #FF4747, #FF4747);
  padding: 15px 25px;
  width: 100%;

  &:not(:focus):required:invalid {
    border: 1px solid #FF4747;
  }

  &:hover {
    background: linear-gradient(0deg, #141D2F, #141D2F),
      linear-gradient(0deg, #FA7902, #FA7902);
    border: 1px solid #FA7902;
  }

  &:focus {
    background: linear-gradient(0deg, #141D2F, #141D2F),
      linear-gradient(0deg, #FA7902, #FA7902);
    border: 1px solid #FA7902 !important;
  }

  &:not(:focus):not(:placeholder-shown):required:invalid {
    background: linear-gradient(0deg, #141D2F, #141D2F),
      linear-gradient(0deg, #E61C40, #E61C40);
    border: 1px solid red;
    
  }

  &:not(:focus):not(:placeholder-shown):required:valid {
    background: linear-gradient(0deg, #141D2F, #141D2F),
      linear-gradient(0deg, #70E61C, #70E61C);
    border: 1px solid #70E61C
  }
}

input {
  @extend .common-input-properties;
}

textarea {
  @extend .common-input-properties;
}